#webrays-main {
    text-align:center;
 }

#webrays-main-canvas {
    border: 2px solid black;
    width:  1024px;
    height:  768px;
}

#webrays-main-preview {
    margin:auto;
    position: relative;
    display:inline-block;
    width: 512px;
    height: 512px;
}

#webrays-main-preview-separator {
    border-left: 4px solid green;
    height: 512px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: 2px;
    top: 0;
}

#webrays-main-preview-separator:hover {
    cursor: e-resize;
}